/*
Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)*/

/*
    Combinación 1:
	Fondo:Rojo
	Letras: Negro
	Fondo Respuestas: Blanco
	Paso Mouse: Plomo
	Letras Mouse: Blanco

Combinación 2:
	Fondo: Blanco
	Letras: Jugar
	Fondo Respuestas: Plomo
	Paso mouse: Rojo
	Letras Mouse: Blanco

Combinación 3:
	Fondo: Gris
	Letras: Jugar
	Fondo Respuestas: Blanco
	Paso mouse: Rojo
	Letras Mouse: Blanco
*/
@font-face {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight:bold;
    /*src: url('CooperHewitt-Light.otf') format('opentype');*/
}

@font-face {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight:bold;
    /*src: url('cooper-hewitt-book.otf') format('opentype');*/
}

#contenedor{
    /*background-image: url(../Imagen/back-kruma.png);*/
    background-repeat: repeat; 
    /*background-color: #FF375F;*/ /*Rojo*/
    /*background-color: #FFFFFF;*/ /*Blanco*/
    background-color: #DDDFE2; /*Gris*/
    color: black;
    background-size: 100% 100%;
    opacity: 1;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border: 0;
    margin: 0 auto;
    font-size: 24px;
    height: 100%;
}

.PreguntaDB{
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size: 24px;
}

.BotonDescripcion{
    /*color: black;
    background-color: white;
    border-color: white;*/
    /*color: black;
    background-color: #5a6268;
    border-color: #5a6268;*/
    color: black;
    background-color: white;
    border-color: white;
}

.BotonDescripcion:hover{
    /*color: white;
    background-color: #5a6268;
    border-color: #545b62;*/
    /*color: white;
    background-color: #FF375F;
    border-color: #FF375F;*/
    color: white;
    background-color: #FF375F;
    border-color: #FF375F;
}

#txtPreguntaFinal{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight:bold;
}
			
@media screen and (max-width: 576px) { 
    .btnRegresar{
        font-size: 20px;
        height: 65%;
    }
    .BotonDescripcion{
    font-size: 24px;
    }
     .btnRegresarTer{
        font-size: 20px;
        height: 30%;
    }
    .btnEnviarfin {
        font-size: 20px;
        height: 85%;
    }
    .btnContinuar{
        font-size: 20px;
        height: 65%;
    }
    /*.img-fluid {
        max-width: 240px;
    }*/
    .txtAreaRespuesta{
        white-space: normal;
        height: 100%;
        width: 80%;
        resize: none;
        font-size: 20px;
    }
    #Titulo {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: black;
        font-weight:bold;
    }
    .Subtitle, .FormularioFinal{
        margin: 0 auto;
        font-size: 20px;
        text-align:left;
    }
    .PreguntaDB{
        /*font-weight:bold;*/
        font-size: 24px;
    }
    #detalleClassID{
        display:none;
    }
    #detaRespon{
        display:block;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
    .form-check-label {
        margin-bottom: 0;
        margin-left: 80px;
    }

    input[type="radio"], input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        transform: scale(4);
        padding: 10px;
        margin-left: 15px;
        margin-top: 30px;
        margin-right: 15px;
    }
    .tooltip-inner{
      max-width: 400px;
      font-size: 35px;
    }
    .imgPregunta {
        text-align: center;
    }
    .imgCuestion{
        width: 60px;
    }  
     /*.img-fluid {
    max-width: 240px;
}*/
    .numeracion{
        font-size:40px;
    }
    .btnRegresar{
        font-size: 24px;
    }
    .BotonDescripcion{
        font-size:24px;
    }
    .btnRegresarTer{
        font-size: 24px;
    }
    .btnEnviarfin{
        font-size: 24px;
    }
    .btnContinuar{
        font-size: 24px;
    }
    .BotonDescripcion{
        font-size: 24px;
    }
     #Titulo {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: black;
        margin-top: 30px;
        font-weight:bold;
    }
    #progreso {
       width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex: flex;
    -ms-flex: flex;
    -o-flex: flex;
    -webkit-box-flex: flex;
    flex: flex;
    -ms-flex-pack: distribute;
    counter-reset: step;
    }  
    .Subtitle, .FormularioFinal{
        margin: 0 auto;
        font-size: 24px;
        text-align:left;
    }
    .form-control {
        font-size: 37px;
    }
    .PreguntaDB{
        /*font-weight:bold;*/
        font-size: 24px;
    }
    #detalleClassID{
        display:none;
    }
    #detaRespon{
        display:none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
     
    .tooltip-inner{
      max-width: 400px;
       font-size: 35px;
    }
    .imgPregunta {
        text-align: center;
    }
    .imgCuestion{
        width: 60px;
    }
     .img-fluid {
    max-width: 200px;
}
     .form-control {
         font-size: 1rem;
    }
       
     #detaRespon{
      display:none;
    }
     #detalleClassID{
        display:block;
    }
     .btnRegresar{
         font-size: 24px;
     }
     .BotonDescripcion{
        font-size: 24px;
    }
     .btnRegresarTer{
        font-size: 24px;
    }
      .btnEnviarfin{
        font-size: 24px;
    }
      .btnContinuar{
          font-size: 24px;
      }
      
      .BotonDescripcion{
        font-size: 24px;
    }
    
    #Titulo{
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: black;
        font-weight:bold;
    }
    .Subtitle{
        margin: 0 auto;
        font-size: 40px;
        text-align:left;
    }
    .PreguntaDB{
        /*font-weight:bold;*/
        font-size: 24px;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
    .form-check-label {
        margin-bottom: 0;
        margin-left: 24px;
    }
    input[type="radio"], input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        transform: scale(3);
        padding: 10px;
        margin-left: 10px;
        margin-top: 15px;
        margin-right: 10px;
    }
     .tooltip-inner{
          max-width: 200px;
         font-size:14px;
    }
    .imgPregunta {
        text-align: right;
    }
     .imgCuestion{
        width: 45px;
    }
     .BotonDescripcion{
        font-size: 24px;
    }

  .img-fluid {
    max-width: 300px;
    }

    .form-control {
         font-size: 1rem;
    }
    .btnRegresar{
        font-size: 24px;
    }

    .BotonDescripcion{
        font-size: 24px;
    }
    .btnRegresarTer{
        font-size: 24px;
    }
     .btnEnviarfin{
        font-size: 24px;
    }
     .btnContinuar{
         font-size: 24px;
     }
     
    .BotonDescripcion{
        font-size: 24px;
    }
    #detaRespon{
        display:none;
    }
    #detalleClassID{
        display:block;
    }
    #Titulo{
        font-size: 24px;
        color: black;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight:bold;
    } 
    .Subtitle{
        margin: 0 auto;
        font-size: 40px;
        text-align:left;
    }
    .FormularioFinal{
        margin: 0 auto;
        font-size: 30px;
        text-align:justify;
    }
    .PreguntaDB{
        /*font-weight:bold;*/
        font-size: 24px;
    }

 }

.error{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight:bold;
}
 body{
    font-family: 'Lato', sans-serif;
        /*!important;*/
    color: black;
    background: #fff;
    margin:0 auto;
 }

.imagenes{
    border-radius: 50%;
}
 

body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Lato', sans-serif;
        /*!important;*/
    font-weight: inherit;
    font-size: 24px;
}

.btnRegresar{
    background-color: #ff375f;
    border-color: #ff375f;
}
.btnContinuar{
    background-color: #ff375f;
    border-color: #ff375f;
}
.btnRegresarTer{
    background-color: #ff375f;
    border-color: #ff375f;
}
.btnEnviarfin{
    color: #000000;
}
.btnEnviarfin:hover {
  color: red;
}