
<html>
<head>
    <style>
        table {
            font-family: Arial;
            font-size: 12px;
            color: #060606;
            line-height: 16px;
        }

    </style>
</head>
<body>

    <table style="width:100%; font-family: Arial; font-size: 12px; line-height: 16px;">
        <tr>
            <td>
                Hola estos son los datos del Emprendedor:<br /><br />
            </td>
	</tr>
	<tr>
        <td>
            Nombres: <%NOMBRES%>  <br /> 
        </td>
	</tr>
	<tr>
        <td>
            Mail: <%MAIL%><br />
        </td>
	</tr>
	<tr>
        <td>
            Celular: <%CELULAR%><br /><br />
        </td>
	</tr>
	 
	<tr>
            <td>
                Estas son las respuestas que permitirán recomendar el mentor:<br /><br />
            </td> 
        </tr> 
	<tr>
            <td>
                <%PREGUNTA%><br /><br />
            </td> 
        </tr> 
	
    </table>
</body>
</html>
